In [ ]:
#print function
print("hello world")

hello world

In [ ]:
#print more than one thing
print('name: mariam ,age:2 ,job: DS')

name: mariam ,age:2 ,job: DS

In [ ]:
#TRIPLE QUOTE FOR MULTILINES can also used for large comment without print  
print("""
name: mariam 
age:22
job: DS """)

name: mariam
age:22
job: DS

In [ ]:
#print without using a function
x=100
y=100
z=x+y
z

200

In [ ]:
#using concatunation with strings
first_name="Mariam"
last_name="Hassan"
first_name+" "+last_name
print("hello",first_name)
#use upper and lower built in function
print(first_name.upper())
print(last_name.lower())

hello Mariam
MARIAM
hassan


1-Write a Python program to print the following message on the screen: 
"Hello, Python learners! Today we start our coding journey." 

2-Challenge: Print a multi-line message using triple quotes that includes your name and 
favorite programming language.

In [ ]:
#print multipe lines with one print functin using triple qoutes
print("""
Hello,
Python learners!
Today we start our coding journey.""")

Hello,
Python learners!
Today we start our coding journey.

1-Challenge: Create three variables of different data types (integer, float, and string). Print 
each variable with a description of its data type.

In [66]:
#create three different variabes
age=22
gpa=3.9
name= "mariam"
#print variables and types using buit in type function
print("the age :",age,"type:",type(age))
print("the gpa:",gpa,"type:",type(gpa))
print("the name:",name,"type:",type(name))

the age : 22 type: <class 'int'>
the gpa: 3.9 type: <class 'float'>
the name: mariam type: <class 'str'>


1- Given the string text = "Python is amazing", write a program to extract and print the 
word "amazing" from it.

2-Challenge: Concatenate two strings, first_name and last_name, with a space in between, and 
print the full name in uppercase.

In [68]:
#assign value string of first and last name 
first_name="Mariam"
last_name="Hassan"
#then concatunate them and add a sepration between them 
full_name=first_name+' '+last_name
print("full name is :",full_name.upper())

full name is : MARIAM HASSAN

In [ ]:
#extract the last word by index method
string ="python is amazing"
print(string[10:17])

amazing


 
1- Write a program to calculate the area of a rectangle with a width of 5 and a height of 

2-Challenge: Create two numbers, a = 20 and b = 7, and print the result of each arithmetic 
operation: addition, subtraction, multiplication, division, and modulo.

In [ ]:
#assign a values to variables and use them to make operation
a=20
b=7
print("sum",a+b)
print("sub",a-b)
print("mul",a*b)
print("div",a/b)
print("mod",a%b)

sum 27
sub 13
mul 140
div 2.857142857142857
mod 6

In [71]:
#calculate  area of rectangle
width=5
height=10
area=width*height
print("the area")
area

the area

50

1-Create a list of five of your favorite foods. Print the entire list, then print the third 
item in the list.
 
2-Challenge: Convert the list into a tuple, and try to change the first item in the tuple. Observe 
and explain the result.

In [ ]:
#make a list of fruits and choose third item to print
food=['apple','banna','cherry','orange','mango']
food[2]

'cherry'

In [ ]:
#try to change the tuple gives error as we can not change in tuple values 
food=('apple','banna','cherry','orange','mango')
food[2]='great'
food[2]

TypeError: 'tuple' object does not support item assignment

1-Given the string sentence = "Learning Python is fun!", write a program to slice and 
print the word "Python" from it.

2-Challenge: Replace the word "fun" with "awesome" in the sentence and print the new 
sentence

In [ ]:
#trying to extract python by index method
string="learning python is fun"
print(string[9:15])

python

In [ ]:
#using replace function to replace to words 
string="learning python is fun!"
string.replace("fun","awsome")

'learning python is awsome!'

1-Create a dictionary called student with the keys name, age, and grade. Assign values 
to each key and print the dictionary.

2-Challenge: Add a new key city to the dictionary and set it to any city name. Print the 
updated dictionary.

In [74]:
#make a dictionary and print it 
student ={'name':'mariam','age':22,'grade':'a'}
print("student data is: ",student)

student data is:  {'name': 'mariam', 'age': 22, 'grade': 'a'}

In [75]:
#add new key to dictionary 
student['ctiy']='cairo'
print("student data is: ",student)

student data is:  {'name': 'mariam', 'age': 22, 'grade': 'a', 'ctiy': 'cairo'}

1- Write a program that takes two numbers from the user and prints their sum, 
difference, product, and division result.
 
2-Challenge: Use the modulo operator to check if the first number is divisible by the second 
number, and print the result as "Divisible" or "Not Divisible".

In [ ]:
#use function input for taking a value from user and cast it to float to give right value for all operations
#a is first num
#b is second num
a=float(input("enter first number"))
b=float(input("enter second number"))
print("sum",a+b)
print("sub",a-b)
print("mul",a*b)
print("div",a/b)

sum 20.0
sub 0.0
mul 100.0
div 1.0

In [ ]:
#check using if condition and modulus for diviabilty of two number 
if a%b ==0:
  print("divisable")
else:
  print("non-divisable")

divisable